body{
    text-align: center;
    background-color: black;
}
.MgImg{
    margin-right: 15px;
}
.Formulario{
    margin-top: 56px;
    padding-top: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.container{
    height: auto;
    width: 500px;
}
.MgTop{
    margin-top: 35px;
}
.Bd-Bottom{
    border-bottom: 0.5em solid orange;
}
.StyText{
    font-family: 'Bangers', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Poppins', sans-serif;
}
.StyTiti{
    font-family: 'Bangers', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Anton', sans-serif;
}
form input{
    margin:5px;
}