*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: burlywood;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
main{
    text-align: center;
}
h1{
    margin-bottom: 5px;
}
.Usuario{

    width: 100%;
    height: 300px;
    background-color: whitesmoke;
    padding: 15px;
    margin-top: 15px;
}
.InputUs{
    margin: 6px;
}
.Servidor{
    width: 100%;
    height: 300px;
    background-color: whitesmoke;
    padding: 15px;
    margin-top: 15px;
}
#DtRecibidos{
    text-align: center;
}
