body{
    background-color: yellowgreen;
    text-align: center;
    margin-top: 300px;
    display: flex;
    flex-direction: row;
}
.BoxTime{
    font-size: 50px;
    margin-left: auto;
    background-color: whitesmoke;
}
.Tpm{
    padding-left: 5px;
    font-size: 50px;
    margin-right: auto;
    background-color: whitesmoke;
}
.blanco{
    background-color: whitesmoke;
}
.verde{
    background-color: yellowgreen;
}
.negro{
    background-color: black;
}
