body{
    background-color: rgb(71, 71, 71);
}
.btn{
    margin-left: 5px;
    margin-top: 5px;
}
.NavTypo{
    font-family: 'Bangers', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Anton', sans-serif;
}
.nav-item{
    border-right: 0.10em solid black;
}
.carousel{
    margin-top: 56px;
    height: 600px;
    width: 100%;
}
.carousel img{
    height: 600px;
    width: 100%;
}